:root {
    /* Fondo oscuro puro para que resalten los neones */
    --bg-base: #050505;
    
    /* Colores del gradiente de los videos */
    --neon-1: #ff00ff;
    --neon-2: #00ffff;
    
    /* Texto con alto contraste (Accesibilidad) */
    --text-main: #ffffff;
    --text-muted: #a1a1aa;
    
    /* Glassmorphism */
    --glass-bg: rgba(20, 20, 20, 0.6);
    --glass-border: rgba(255, 255, 255, 0.08);
    
    --font-main: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: var(--bg-base);
    color: var(--text-main);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Para los blobs de fondo */
}
